@charset "UTF-8";

@font-face
{
    font-family: "ftr";
    src: url("ff1.otf") format("opentype");
}

@font-face
{
    font-family: "ftri";
    src: url("ff2.otf") format("opentype");
}

body
{
    margin: 20px;
    background-color: rgb(27,27,27);
    font-family: "ftr";
}